@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
}

/* Layout for admin dashboard */
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: var(--bs-dark);
  transition: all 0.35s ease-in-out;
}

.main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: #f4f9f1;
  /* background: #f3f4f3;  */
}
.navbar {
  background: white;
}

/* Siderbar Elements */
.sidebar-logo {
  display: flex;
  align-items: end;
  padding: 1.15rem;
}

.sidebar-logo img {
  max-width: 100%;
  height: auto;
  margin-right: 2px;
}

.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.40rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-header {
  border-bottom: 1px solid #d7d5d5bf;
  width: 100%;
  height: 2px;
  /* font-size: .75rem;
  padding: 1.5rem 1.5rem .375rem;
  text-align: center; */
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

/* container div Elements - record class*/
.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

@media (min-width:768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

.camara {
  background: black;
  width: 900px;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono {
  margin-right: 10px; /* Ajusta el margen según sea necesario */
}

/* .camara {
  background: black;
  width: 900px;
  height: 490px;
} */

/* style grabando */
.text-respuest-record {
  display: flex;
  align-items: center;
  justify-content: end;
}

.text-respuest-record span {
  color: red;
  animation: parpadeo 1s infinite; /* Animación de parpadeo */
}

@keyframes parpadeo {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}
